:root {
    --panel-text: #008b70;
    --input-background: #f7f7f7;
    --input-border: #b3b3b3;
    --input-placeholder: #b3b3b3;
    --panel-background: #eaf8eb;
    --input-text-color: #000;
    --title-color: #015847;
    --meta-color: #727272;
    --common-text: #000;
    --panel-title-color: #000;

    --title-font: 'Roboto Slab', sans-serif;
    --common-font: 'Roboto Condensed', serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 5px;
}

body {
    position: relative;
    font-family: var(--common-font);
    font-size: 14px;
    color: var(--common-text);
    background-color: #fff;
    padding-top: 80px;
    /* Adjust padding to account for fixed header */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--panel-background);
    color: var(--panel-text);
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
    z-index: 1000;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

}

.nav ul {
    display: flex;
}

.nav-item a {
    text-decoration: none;
    color: var(--panel-text);
    font-weight: 700;
    margin-right: 45px;
}

.nav-item:last-child a {
    margin-right: 0;
}

.nav-item a:hover {
    opacity: 0.7;
}

.logo-img {
    width: 100%;
    height: auto;
}

.logo {
    max-width: 70px;
}

/*placeholder for search and login section*/
.search-and-login {
    width: 277px;
    height: 49px;
    border: #000 solid 1px;
}

.quote {
    font-family: var(--common-font);
    font-size: 20px;
    color: var(--panel-text);
    margin: 0 auto;
    margin-top: 46px;
    margin-bottom: 30px;
    text-align: center;
}

.black-qoute-word {
    color: var(--common-text);
}

.latest-recipes .swiper {
    height: 350px;
}

.latest-recipes .swiper-slide {

    height: 320px;
    width: 273px;
}

.recipe-img {
    height: 300px;
    width: 250px;
    overflow: hidden;
    border: 3px solid #689E94;
    border-radius: 10px;

    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
}

.recipe-img__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    display: block
}

.recent-recipe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-info {
    position: absolute;
    bottom: -10px;
    right: 10px;
    border: 3px solid #689E94;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--panel-background);
    text-align: center;
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));

}

.recipe-info__title {
    font-family: var(--title-font);
    font-size: 20px;
    color: var(--title-color);
    margin-bottom: 5px;
}

.recipe-info__meta {
    font-family: var(--title-font);
    font-size: 12px;
    color: var(--meta-color);
}

.title {
    text-align: center;
    font-family: var(--title-font);
    font-size: 24px;
    color: var(--title-color);
    font-weight: 500;
    margin-bottom: 20px;
}

.categories .swiper-slide {
    height: 120px;
    width: 120px;

}

.categories-swiper {
    height: 120px;
    padding: 0 15px;


}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0;

    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.1));
}

.category-title {
    font-family: var(--title-font);
    font-size: 14px;
    color: var(--title-color);
    text-align: center;

}

.categories {
    margin-bottom: 40px;
}

.reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(2, 175px);
    row-gap: 20px;
    column-gap: 50px;
}

.recent-review {
    height: 100%;
    width: 310px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--panel-background);
}

.review-img {
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.review-img img {
    width: 35px;
    height: 35px;
    object-fit: cover;

}

.review-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.review-title-text {
    font-family: var(--title-font);
    font-size: 16px;
    color: #000;

}

.recent-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.review-text {
    font-family: var(--common-font);
    font-size: 14px;
    color: var(--common-text);

    margin-bottom: 15px;
}



.review-meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    font-family: var(--common-font);
    color: var(--meta-color);
    font-size: 12px;

}

.daily-meals-grid {
    display: grid;
    grid-template-columns: repeat(2, 325px);
    grid-template-rows: repeat(3, 125px);
    row-gap: 20px;
    column-gap: 20px;
    margin: 0 auto;
}

.daily-meal {
    background-color: var(--panel-background);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.daily-meals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.meal-img {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    overflow: hidden;
}

.meal-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.daily-meal-title h3 {
    font-family: var(--title-font);
    font-size: 14px;
    color: var(--title-color);

}


.daily-meal-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.ingredients-table {

    border-collapse: collapse;
}

.ingredients-table td {
    padding-right: 5px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100px;
}

.footer{
    background-color: var(--panel-background);
    color: var(--panel-text);
    width: 100%;
    height: 150px;
    text-align: center;
    z-index: 1000;
}
.footer-inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    padding: 0 20px;
}
.footer-nav{
    margin-top: 35px;
}
.footer-links{
    display: flex;
    justify-content: center;
}
.footer-links li{
    list-style: none;
    margin-right: 60px;
    text-decoration: none;
}
.footer-links a {
    text-decoration: none;
    color: var(--panel-text);
    font-size: 16px;
}
.footer-links a:hover {
    opacity: 0.7;
}
hr {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--panel-text);
    margin: 20px 0;
}
.copyright {
    font-family: var(--common-font);
    font-size: 14px;
    color: var(--panel-text);
    margin-top: 20px;
}
@media (max-width: 900px) {
    .reviews-grid {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .recent-review {
        width: 100%;
        max-width: 100%;
    }
}